@use 'config/reset';
@use 'config/colors';
@use 'sections/produtos';


body {
    background-color: colors.$bgColor;
}

header {
    h1 {
        color: colors.$secondaryColor;
    }
}

button {
    background-color: colors.$secondaryColor;
    color: colors.$mainColor;
    &:hover {
        background-color: red;
    }
}