$mainColor: #eee;
$secondaryColor: #6d1313;

body {
    background-color: $mainColor;
}

header {
    h1 {
        color: $secondaryColor;
    }
}

button {
    background-color: $secondaryColor;
    color: $mainColor;
    &:hover {
        background-color: red;
    }
}